@import 'scss';

* {
	font-family: Comfortaa, 'Yu Gothic';
	font-size: inherit;
	color: inherit;
	box-sizing: border-box;
}

p {
	margin: 0;
	white-space: pre-line;
	text-align: start;
}

::-moz-focus-inner {
	border: 0;
}
