@import 'scss';

.Checkbox {
	margin: 0 0 s(2) 0;
	display: flex;
	align-items: flex-start;

	input[type='checkbox'] {
		zoom: 1.2;
		margin: s(0.3) s(2) 0 0;
		cursor: pointer;
	}

	label {
		font-size: v(font-s);
		white-space: pre-line;
		user-select: none;
		cursor: pointer;
	}
}
