@import 'scss';

.App {
	@extend %theme-root;

	@include look(def, true);
	font-size: v(font-m);
	height: 100%;
	padding: s(5) s(5) 0;

	display: flex;

	&:not(:global(.outline)) * {
		outline: none;
	}
}

.Center {
	@include look(alt, true);
	border-radius: s(3) s(3) 0 0;
	@include insetShadow(4);

	flex: 1;
	min-height: 0;
	display: flex;
	flex-flow: column;
	overflow: auto;
}

.Cards {
	flex: 1;
	min-height: 0;
	overflow: auto;
}
